*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: blue;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: margin-left 0.3s ease;
}

.container{
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.main-cont{
    width: 98%;
    height: 97vh;
    margin: 9px 14px 9px;
}

.profile-cont{
    width: 100%;
    min-height: 50px;
}

.profile-img{
    float: right;
}

/* .sidebar-img{

} */

.header{
    margin-bottom: 15px;
}

.head-title{
    text-align: center;
}

.head-title img{
    width:60px;
    height:60px;
}

.head-title h1{
    font-size: 36px;
}

.card-cont{
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    max-width: 300px;
    height: 97%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 3px 3px 15px rgb(72, 72, 72),
    -1px -1px 100px white;
}

.card-val{
    margin: 0px 10px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
}

.search-bar{
    border-radius: 10px;
    height: 55px;
}

.send-img{
    width: 30px;
    height: 30px;
}

.search-bar{
    display: flex;
}

.input-cont{
    flex: 1;
    border-radius: 10px;
}

.input-cont input{
    width: 99%;
    height: 100%;
    font-size: 20px;
    padding-left: 15px;
    border-radius: 10px;
    border: 2px solid;
}

.send-btn{
    width: 52px;
    height: 52px;
    background-color: rgb(94, 94, 247);
    border: none;
    outline: none;
    border-radius: 5px;
}

.sidebar{
    width: 200px;
    height: 97%;
    position: absolute;
    top: 0px;
    left: 14px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 0;
    margin-top: 10px;
}

.sidebar {
    width: 270px;
    height: 97%;
    background: #333;
    color: white;
    left: -270px;
    transition: left 0.3s ease;
    padding: 20px;
}

.sidebar.active {
    left: 0;
}

.content {
    width: 80%;
    float: right;
    transition: margin-left 0.3s ease; */
}

.sidebar.active + .content {
    margin-left: 250px;
}